#main-window {
    align: center middle;
    Select { outline: none; }
    NoteForm #selections { height: 3; }
}
NoteForm Vertical {
    keyline: thin blue;
    #selections {
        height: 3;
    }
    #otyp-sel {
        width: 2fr;
    }
    #inst-sel {
        width: 3fr;
    }
    #info {
        width: 5fr;
    }
    #operations {
        width: 12;
    }
    #selections {
        height: auto;
    }
}

Placeholder {
    border: none;
    min-height: 1;
}
